extends ../layout

block content
	div.container-fluid.mt10
		//- div.row
		//- 	div.col-md-10
		//- 		h1=title
		//- 	div.col-md-2
		//- 		a(href="#" class="btn btn-primary pull-right btn-new") Modellezések
		div.row.river
			div.col-md-5.river-map
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Térkép
					div.panel-body
						div.row
							div.col-md-12
								if profiles
									each p in profiles
										div(class="col-md-3")
											div(id="p_"+p.id, value=p.id, class="profile-button btn btn-success w100")=p.name
								else
									option(value="null") Nincs megjelenítendő adat
					div.panel-footer
						div.clearfix
			div.col-md-2.river-filter
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Szűrés
					div.panel-body
						div.row
							div.col-md-12
								div.form-group
									label(for="profile") Szelvény
									select(name="profile" id="profile" class="form-control" disabled=(profiles ? false : true))
										if profiles
											each p in profiles
												option(value=p.id)=p.name
										else
											option(value="null") Nincs megjelenítendő adat
								div.form-group
									label(for="datetimeselect") Időintervallum
									input(type="text" name="datetimeselect" id="datetimeselect" class="form-control")
									i.glyphicon.glyphicon-calendar.fa.fa-calendar
					div.panel-footer
						input(type="button" class="get-data-button btn btn-primary pull-right" value="Lekérdezés")
						div.clearfix
			div.col-md-5.river-data
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Adatok
					div.panel-body
						div.row(id="data_table")
							div.col-md-12
					div.panel-footer
						input(type="button" class="data-metas-button btn btn-primary pull-right" value="Adatbetöltések")
						div.clearfix
			div.col-md-12.river-trend
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Grafikon
					div.panel-body
						div.row
							div.col-md-12
								canvas(id="myChart")
					div.panel-footer
						div.clearfix
block scripts
	script(type="text/javascript").
		var dateStart, dateEnd;		

		var chart_data;
		//-  = {
		//-     labels: [],
		//-     datasets: [{ 
		//-         data: [],
		//-         label: "",
		//-         borderColor: "#3e95cd",
		//-         fill: false
		//-       }
		//-     ]
		//- };

		function getData(dStart, dEnd){
			var profile_id = $('select[name=profile]').val();
			// AJAX hívás az adatok lekérdezésére
			$.post( "/rivers/data", 
				{
				river_id: "#{river.id}",
				data_type: "#{act_data_type}",
				profile_id: profile_id,
				date_start: dStart,
				date_end:dEnd
				},
				function( data ) {
				if(data){
					$('#data_table').html('');
					var labels_array = [];
					var data_array = [];
					if(data.length){
						//console.log(data);
						//- var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
						//- var h2 = $('<div class="col-md-6">'+'Érték (m3/s)'+'</div>');
						//- h1.appendTo($('#data_table'));
						//- h2.appendTo($('#data_table'));
						//- $.each(data, function(i, v){
						//- 	var c1 = $('<div class="col-md-6">'+moment(v.date_time_for).format('YYYY. MM. DD. HH:ss')+'</div>');
						//- 	var c2 = $('<div class="col-md-6">'+v.value+'</div>');
						//- 	c1.appendTo($('#data_table'));
						//- 	c2.appendTo($('#data_table'));
							
						//- 	labels_array.push(moment(v.date_time_for).format('YYYY. MM. DD. HH:ss'));
						//- 	data_array.push(v.value);

						//- });
						dataToChart(myLineChart, data);
					}else{
						var c1 = $('<div class="col-md-12">Nincs megjelenítendő adat.</div>');
						c1.appendTo($('#data_table'));
					}
				}else{
					
				}
			});
		}

		function dataToChart(c, d){
			console.log('dataToChart execute...');
			var dataset_array = [];
			//- data.labels=l;
			//- data.datasets[0].data = d;
			//- data.datasets[0].label = "m3/s";
			$.each(d, function(i, v){
				var data_set = {
			      label: "i",
			      data: [
				      		//- {
				        //-         x: -12,
				        //-         y: 70
				        //-     }, {
				        //-         x: 15,
				        //-         y: 35
				        //-     }
			            ],
			      fill: false,
			      backgroundColor: "rgba(218,83,79, .7)",
			      borderColor: "rgba(218,83,79, .7)",
			      // pointRadius: 0
			    }
				$.each(v.flows, function(j,w){
					data_set.data.push({x:moment(w.date_time_for).format('YYYY. MM. DD. HH:ss'), y: w.value});
				});
				dataset_array.push(data_set)
			});
			chart_data = dataset_array;
			console.log(chart_data);
			c.data.datasets = dataset_array;
			c.update();
		}


	script(src="/javascripts/init_datepicker.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js")
	script(src="/javascripts/river_chart.js")