extends ../layout

block content
	div.container-fluid
		div.row
			div.col-md-10
				h1=title
			div.col-md-2
				a(href="#" class="btn btn-primary pull-right btn-new") Modellezések
		div.row.river
			div.col-md-4.river-map
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Térkép
					div.panel-body
						div.row
							div.col-md-12
					div.panel-footer
						div.clearfix
			div.col-md-4.river-filter
				//- div.river-filter__content Lekérdezés
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Szűrés
					div.panel-body
						div.row
							div.col-md-12
								div.form-group
									label(for="profile") Szelvény
									select(name="profile" id="profile" class="form-control" disabled=(profiles ? false : true))
										if profiles
											each p in profiles
												option(value=p.id)=p.name
										else
											option(value="null") Nincs megjelenítendő adat
								div.form-group
									label(for="datetimeselect") Időintervallum
									input(type="text" name="datetimeselect" id="datetimeselect" class="form-control")
									i.glyphicon.glyphicon-calendar.fa.fa-calendar
					div.panel-footer
						input(type="button" class="btn btn-primary pull-right" value="Lekérdezés")
						div.clearfix
			div.col-md-4.river-data
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Adatok
					div.panel-body
						div.row
							div.col-md-12
					div.panel-footer
						div.clearfix
			div.col-md-12.river-trend
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Grafikon
					div.panel-body
						div.row
							div.col-md-12
					div.panel-footer
						div.clearfix
block scripts
	script(type="text/javascript").
		$(document).ready(function () {
			moment.locale('hu');
			var format = 'YYYY. MM. DD.';
			var today = moment().format('YYYY. MM. DD.');
			var yesterday = moment().subtract(1, 'days').format(format);
			var last7day = moment().subtract(7, 'days').format(format);
			var last30day = moment().subtract(30, 'days').format(format);
			var thisMonthFirstDay = moment().startOf('month').format(format);
			var thisMonthLastDay = moment().endOf('month').format(format);
			var lastMonthFirstDay = moment().subtract(1, 'month').startOf('month').format(format);
			var lastMonthLastDay = moment().subtract(1, 'month').endOf('month').format(format);

			$('input[name="datetimeselect"]').daterangepicker({
				"timePicker24Hour": true,
				"ranges": {
			        "Ma": [
			            today,
			            today
			        ],
			        "Tegnap": [
			            yesterday,
			            yesterday
			        ],
			        "Elmúlt 7 nap": [
			            last7day,
			            today
			        ],
			        "Elmúlt 30 nap": [
			            last30day,
			            today
			        ],
			        "Ez a hónap": [
			            thisMonthFirstDay,
			            thisMonthLastDay
			        ],
			        "Múlt hónap": [
			            lastMonthFirstDay,
			            lastMonthLastDay
			        ]
			    },
			    "locale": {
			        "direction": "ltr",
			        "format": "YYYY. MM. DD. HH:mm",
			        "separator": " - ",
			        "applyLabel": "Ok",
			        "cancelLabel": "Mégse",
			        "fromLabel": "Tól",
			        "toLabel": "Ig",
			        "customRangeLabel": "Egyedi",
			        "daysOfWeek": [
			            "V",
			            "H",
			            "K",
			            "Sze",
			            "Cs",
			            "P",
			            "Szo"
			        ],
			        "monthNames": [
			            "Január",
			            "Február",
			            "Március",
			            "Április",
			            "Május",
			            "Június",
			            "Július",
			            "Augusztus",
			            "Szeptember",
			            "Október",
			            "November",
			            "December"
			        ],
			        "firstDay": 1
			    },
			    "startDate": thisMonthFirstDay,
			    "endDate": thisMonthLastDay,
			    "opens": "center",
			    "buttonClasses": "btn",
			    "applyClass": "btn btn-primary"
			}, function(start, end, label) {
			  //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
			});
		});

		function getData(){
			var profile_id = $('select[name=profile]').val()
			// AJAX hívás az adatok lekérdezésére
			$.post( "/rivers/data", 
				{
				river_id: "#{river.id}",
				data_type: "#{act_data_type}",
				profile_id: profile_id
				},
				function( data ) {
				if(data){
					$('<option>', {value: null}).text('Válasszon').appendTo($('#river'));
					$.each(data, function(i, v){
						var o = $('<option>', {value: v.id}).text(v.name);
						o.appendTo($('#river'));
					});
					$('#river').removeAttr('disabled');
				}else{
					$('<option>', {value: null}).text('Nincs megjelenítendő adat').appendTo($('#river'));
				}			
			});
		}