extends layout

block content
	div.container-fluid
		div.row
			div.col-md-12
				h1=title
		div.row
			div.col-md-3
				h4 Vízhozam idősor
			div.col-md-3
				h4 Vízszint idősor
			div.col-md-3
				h4 Vízhozam átlag
			div.col-md-3
				h4 Vízszint átlag
			div.col-md-3
				h4 Vízszint hossz-szelvény
			div.col-md-3
				h4 Vízhozam hossz-szelvény
			div.col-md-3
				h4 Vízkészlet
			div.col-md-3
				h4 Vízkivétel hozamok
			div.col-md-3
				h4 Vízbeeresztés hozamok
			div.col-md-3
				h4 Beszivárgás a mederbe
			div.col-md-3
				h4 Elszivárgás a mederből
			div.col-md-3
				h4 Csapadék átlag
			div.col-md-3
				h4 Párolgás
			div.col-md-3
				h4 Evapotranspiráció
			div.col-md-3
				h4 Hőmérésklet
			div.col-md-3
				h4 Zsilipadatok
			div.col-md-3
				h4 Vízkészlet változás idősor
			div.col-md-3
				h4 Napi átlagos vízkészlet eltérése a jellemző értéktől
			div.col-md-3
				h4 Napi vízhiány/víztöbblet hossz-szelvény
	