doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Collapsible sidebar using Bootstrap 3
		// Bootstrap CSS CDN
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		// Our Custom CSS
		link(rel="stylesheet" href="/stylesheets/style.css")
		// Scrollbar Custom CSS
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css")
	body
		.wrapper.footer_fixed
			// Sidebar Holder
			nav#sidebar
				.sidebar-header
					h3 Vízkészlet-gazdálkodás
				ul.list-unstyled.components
					p= title
					li.active
						a(href="#homeSubmenu" data-toggle="collapse" aria-expanded="false") Home
						ul#homeSubmenu.collapse.list-unstyled
							li
								a(href="/map") Map
							li
								a(href="#") Home 2
							li
								a(href="#") Home 3
					li
						a(href="#") About
						a(href="#pageSubmenu" data-toggle="collapse" aria-expanded="false") Pages
						ul#pageSubmenu.collapse.list-unstyled
							li
								a(href="#") Page 1
							li
								a(href="#") Page 2
							li
								a(href="#") Page 3
					li
						a(href="#") Portfolio
					li
						a(href="#") Contact
				//ul.list-unstyled.CTAs
					li
						a.download(href="https://bootstrapious.com/tutorial/files/sidebar.zip") Download source
					li
						a.article(href="https://bootstrapious.com/p/bootstrap-sidebar") Back to article
			// Page Content Holder
			#content
				nav.navbar.navbar-default.navbar-fixed-top
					.container-fluid
						.navbar-header
							button#sidebarCollapse.btn.btn-info.navbar-btn(type="button")
								i.glyphicon.glyphicon-align-left
								span Toggle Sidebar
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href="#") Page
								li
									a(href="#") Page
								li
									a(href="#") Page
								li
									a(href="#") Page
				block content
			footer
				.pull-right
					| Készítette: 
					a(href="http://controlsoft.hu") Controlsoft Kft.
				.clearfix
		// jQuery CDN
		script(src="https://code.jquery.com/jquery-1.12.0.min.js")
		// Bootstrap Js CDN
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		// jQuery Custom Scroller CDN
		script(src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js")
		script.
			var map;
			function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 47.330135, lng: 20.672682},
			zoom: 12,
			mapTypeId: 'terrain'
			});
			var myLatLng = {lat:47.33223806912348, lng:20.75589297795223};
			var icon = {
			url: "/images/inner-darkblue-circle-full-marker.png", // url
			scaledSize: new google.maps.Size(20, 20), // scaled size
			origin: new google.maps.Point(0,0), // origin
			anchor: new google.maps.Point(0, 10) // anchor
			};
			var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: 'T 6547',
			icon: icon
			});
			var nkiii_2_coordinates = [
			{lng:20.76827662416827,lat:47.33211450473437},
			{lng:20.75802544905323,lat:47.33213910371562}
			];
			var nkiii_2_path = new google.maps.Polyline({
			path: nkiii_2_coordinates,
			geodesic: true,
			strokeColor: '#267CB5',
			strokeOpacity: 1.0,
			strokeWeight: 2
			});
			nkiii_2_path.setMap(map);
			}
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaLMBmv1VbhuyfQPo-Q7jSAyBsI1rAvRY&callback=initMap" async="" defer="")
		script(type="text/javascript").
			$(document).ready(function () {
			$("#sidebar").mCustomScrollbar({
			theme: "minimal"
			});
			$('#sidebarCollapse').on('click', function () {
			$('#sidebar, #content').toggleClass('active');
			$('.collapse.in').toggleClass('in');
			$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});
			});
