extends ./master

block body
	.wrapper.footer_fixed
		// Page Content Holder
		block content
		footer
			.pull-right
				| Készítette: 
				a(href="http://controlsoft.hu") Controlsoft Kft.
			.clearfix