doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Vízkészlet-gazdálkodás | OVF
		// Bootstrap CSS CDN
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		// Our Custom CSS
		link(rel="stylesheet" href="/stylesheets/style.css")
		// Scrollbar Custom CSS
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet" type="text/css" media="all" href="/css/daterangepicker.css")
		// ArcGIS API
		//link(rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css")
		link(rel="stylesheet" href="https://js.arcgis.com/3.23/esri/css/esri.css")
	body
		.wrapper.footer_fixed
			// Sidebar Holder
			nav#sidebar
				.sidebar-header
					img(src="/images/ovf_logo.png", alt="OVF" width="35")
					a(href="/")
						h3 Vízkészlet-gazdálkodás
				ul.list-unstyled.components
					if !river_page
						p Igazgatóságok
						each d in directorates
							li
								if d.rivers
									a(href="#homeSubmenu_"+d.id data-toggle="collapse" aria-expanded="false")=d.name
								else
									a(href="#homeSubmenu_"+d.id data-toggle="collapse")=d.name
								if d.rivers
									ul(id="homeSubmenu_"+d.id, class="collapse list-unstyled")
										each r in d.rivers
											li
												a(href="/rivers/"+r.id)=r.name
					else
						p Adat típusok
						each data_type in data_types
							li
								a(href="#")=data_type.name
					//- li.active
					//- 	a(href="#homeSubmenu" data-toggle="collapse" aria-expanded="false") Igazgatóságok
					//- 	ul#homeSubmenu.collapse.list-unstyled
					//- 		each d in directorates
					//- 			li
					//- 				a(href="#")=d.name
							//- li
							//- 	a(href="/map") Map
							//- li
							//- 	a(href="#") Home 2
							//- li
							//- 	a(href="#") Home 3
					//- li
					//- 	a(href="#") About
					//- 	a(href="#pageSubmenu" data-toggle="collapse" aria-expanded="false") Pages
					//- 	ul#pageSubmenu.collapse.list-unstyled
					//- 		li
					//- 			a(href="#") Page 1
					//- 		li
					//- 			a(href="#") Page 2
					//- 		li
					//- 			a(href="#") Page 3
					//- li
					//- 	a(href="#") Portfolio
					//- li
					//- 	a(href="#") Contact
				ul.list-unstyled.CTAs
					li
						a.download(href="/modelling_import") Adat betöltés
				//- ul.list-unstyled.CTAs
					li
						a.download(href="https://bootstrapious.com/tutorial/files/sidebar.zip") Download source
					li
						a.article(href="https://bootstrapious.com/p/bootstrap-sidebar") Back to article
			// Page Content Holder
			#content
				nav.navbar.navbar-default.navbar-fixed-top
					.container-fluid
						.navbar-header
							button#sidebarCollapse.btn.btn-info.navbar-btn(type="button")
								i.glyphicon.glyphicon-align-left
								span
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href="/modelling_import") Horváth Csaba
								//- li
								//- 	a(href="#") Page
								//- li
								//- 	a(href="#") Page
								//- li
								//- 	a(href="#") Page
				block content
			footer
				.pull-right
					| Készítette: 
					a(href="http://controlsoft.hu") Controlsoft Kft.
				.clearfix
		// jQuery CDN
		script(src="https://code.jquery.com/jquery-1.12.0.min.js")
		// Bootstrap Js CDN
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js")
		script(src="/js/moment.js")
		script(src="/js/daterangepicker.js")
		script(type="text/javascript").
			$(document).ready(function () {
				$("#sidebar").mCustomScrollbar({
					theme: "minimal"
				});
				$('#sidebarCollapse').on('click', function () {
					$('#sidebar, #content').toggleClass('active');
					$('.collapse.in').toggleClass('in');
					$('a[aria-expanded=true]').attr('aria-expanded', 'false');
					$('.navbar.navbar-fixed-top').toggleClass('nav-expand');
				});
			});	
		block scripts
