#point_data{
    width: 250px;
    height: 300px;
    position: fixed;
    top: 359px;
    right: 0px;
    background: #EDEDED;
    .point_data_title{
    	padding: 5px 10px;
    	background-color: #2A3F54;
    	color: #FFF;
    }
    .point_data_list{
    	margin-top: 10px;
    	ul{
    		list-style: none;
    		padding-left: 10px;
    		li{
    			.data_name {
    				float: left;
    				font-weight: bold;
    				margin-right: 4px;
				}
				.data_value {
					float: left;
				}
    		}
    	}
    }
}