extends layout

block content
	div(id="map")
	div(id="layers").layers
		div.layers_title Réteglista
		div.layers_list
			ul
				li
					label(for="cb01") 
						input(type="checkbox", name="cb01") 
						| Műtárgy hossz-sz.
				li
					label(for="cb01") 
						input(type="checkbox", name="cb01") 
						| Szivattyútelepek
				li
					label(for="cb01") 
						input(type="checkbox", name="cb01") 
						| Öntözés, hasznosítás
				li
					label(for="cb01") 
						input(type="checkbox", name="cb01") 
						| Vízkivételi helyek
				li
					label(for="cb01") 
						input(type="checkbox", name="cb01") 
						| Vízátadási pontok
	div(id="point_data")
		div.point_data_title Átadási hely adatok
		div.point_data_list
			ul
				li
					.data_name Határidő:
					.data_value 2019.01.01.
					.clearfix
				li
					.data_name Szevény érték:
					.data_value 1,3
					.clearfix
				li
					.data_name Vksz:
					.data_value T 6547
					.clearfix
				li
					.data_name Helyrajzi szám:
					.data_value Kunhegyes, 0123/12-34
					.clearfix
				li
					.data_name Rendszám:
					.data_value ABC123
					.clearfix
				li
					.data_name Alakzat:
					.data_value Pont
					.clearfix
				li
					.data_name Üzemeltető:
					.data_value Teszt Kft.
					.clearfix
				li
					.data_name Engedélyezett vízsugár:
					.data_value 11 l/s
					.clearfix
	div(id="graph")
		div.graph_title Vízszint hossz-szelvény
		div.graph_content
			canvas(id="myChart", width="600", height="100")
//-	div.col-md-8
//-	div.col-md-4
//-	div.col-md-12
//- h1= title
//- p Welcome to #{title}
