.btn-new{
	margin-top: 20px;
}

.inputFile{
	padding-left: 18px;
	padding-top: 6px;
	width:80%;
	height: 34px;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	outline: none;
	& + .file-label{
		position: relative;
		z-index: 2;
	}
}

@-moz-document url-prefix() {
    .inputFile{
		padding-left: 58px;
		padding-top: 0px;
	}
}