/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
    #content {
        width: calc(100% - 250px);
        /*padding: 40px;*/
        padding-top: 61px;
        padding-bottom: 30px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        &.active {
            width: 100%;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: absolute;
            z-index: 999;
            top: 0;
            right: 0;
            bottom: 30px;
            background-color: #2A3F54;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 61px;
            padding-bottom: 30px;

            &.open{
                width: 508px;
            }
    
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #FFF;
                display: block;
                transition: 0.3s;
                &:hover {
                    color: #f1f1f1;
                }
            }

            .filter-content{
                padding-left: 10px;
                padding-right: 10px;
                label{
                    color: #FFF;
                }
                i{
                    position: absolute;
                    bottom: 24px;
                    right: 24px;
                    top: auto;
                    cursor: pointer;
                }
            }

            .title{
                color:#FFF;
                font-size: 25px;
                padding: 10px 10px;
            }
            .closebtn {
                position: absolute;
                top: 58px;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
            
        }
    }

    .index-page{
        #map{
            position: absolute !important;
            height: calc(100% - 80px);
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    