/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer{
    padding: 5px 10px;
}
.footer_fixed footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}