.river{
	position: absolute;
	width: 100%;
	// height: calc(100% - 150px);
	&-map{
		.panel-body{
			padding: 0;
		
			#map_river{
				height: 435px;
				.marker{
					border-radius: 4px;
					border: 1px solid #2A3F54;
					background-color: #5BC0DE;
				}
				.marker.selected_profile{
					border-color: #A70000;
					background-color: #FF0000 !important;
					z-index: 10000;
				}
			}
		}
	}
	&-filter{
		i{
			position: absolute;
		    bottom: 24px;
		    right: 24px;
		    top: auto;
		    cursor: pointer;
		}
		#adatbetoltesek{
			/*height: 90px;
			overflow: hidden;
			overflow-y: auto;*/
		}
	}
	&-data{
		#data_table{
			overflow: hidden;
    		overflow-y: auto;
    		height: $panel_height;
		}
	}
	&-trend{
		height: calc(260px);
	}
}