.river{
	position: absolute;
	width: 100%;
	// height: calc(100% - 150px);
	&-map{
		.panel-body{
			padding: 0;
		
			#map_river{
				height: 435px;
			}
		}
	}
	&-filter{
		i{
			position: absolute;
		    bottom: 24px;
		    right: 24px;
		    top: auto;
		    cursor: pointer;
		}
	}
	&-data{
		#data_table{
			overflow: hidden;
    		overflow-y: auto;
    		height: $panel_height;
		}
	}
	&-trend{
		height: calc(260px);
	}
}